body {
    
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input, button {
    margin: 25px 0;
    padding: 15px;
    width: 90%;
}

button {
    background-color: #ffffff;
    color: #10a426;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #2d2e2f;
}
